body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(freepik__candid-image-photography-natural-textures-highly-r__64638.jpeg);
}
a {
    text-decoration: none;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    color: white;
    text-align: left;
    padding: 10px;
}
nav{
    cursor: pointer;
    color: white;
    position: fixed;
}
.home {
    font-family: poppins;
    font-size: 2rem;
    color: white;

}
.home:hover {
    color: blue;
}
.judul {
    font-family: kanit;
    text-align: center;
    font-size: 5rem;
  
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.menu {
    gap: 2rem;
}
.perintah {
    font-family: poppins;
}

/* menu */
.penyederhanaanAkar-container {
    width: 18rem;
    height: 16rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border: 5px solid white;
    filter: drop-shadow(5px 5px 3px rgba(255, 251, 21, 0.466));
}
.teks {
    color: rgb(255, 255, 255);
    font-family: poppins;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 1rem;
    padding: 0.2rem;
    text-decoration: none;
    height: 3rem;
}

/* akar */
.akar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: poppins;
}
.akar-preview {
    font-size: 2rem;
}
.perintah {
    translate: 0 -2rem;
    text-align: center;
}
.akar-png {
    translate: -3rem;
    z-index: -3;
}
#inputakar {
    font-size: 1.5rem;
    height: 50;
    width: 250;
    background-color: transparent;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 2;
    translate: 0 -4rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#hasil {
    font-size: 1.5rem;
    font-family: poppins;
    width: 100;
    background: linear-gradient(to bottom, rgb(255, 208, 0), rgb(243, 158, 0));
    color: rgb(0, 0, 0);
    font-weight: 800;
    z-index: 999;
}
.akar-output {
    line-height: 3rem;
    text-align: center;
    margin-top: 3rem;

}
#output {
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
}

/* diskon */
.diskon-container {
    width: 18rem;
    height: 16rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border: 5px solid white;
    filter: drop-shadow(5px 5px 3px rgba(255, 251, 21, 0.466));
}
.diskon-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
}
.pembatas {
    height: 10rem;
    width: 0.5rem;
    background-color: white;
}
.diskon-conten {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.diskon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: poppins;
}
#inputharga {
    font-size: 1.5rem;
    height: 50;
    width: 250;
    background-color: transparent;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 2;
}
#inputdiskon {
    font-size: 1.5rem;
    height: 50;
    width: 250;
    background-color: transparent;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 2;
    text-align: center;
}
.inputdiskon-div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
#hasil-diskon {
    font-size: 2.5rem;
    font-family: poppins;
    background: linear-gradient(to bottom, rgb(255, 208, 0), rgb(243, 158, 0));
    color: rgb(0, 0, 0);
    font-weight: 800;
    z-index: 999;
}
.diskon-output {
    line-height: 3rem;
    text-align: center;
    margin-top: 3rem;
}
#output-penjelasan {
    cursor: pointer;
    color: rgb(255, 251, 0);
    background-color: rgba(152, 1, 172, 0.555);
    border-radius: 1rem;
    width: 20rem;
    justify-self: center;
}
#output-penjelasan:hover {
    color: rgb(255, 255, 255);
}

#output-hide {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.774);
    color: black;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

}
.pin-png {
    align-self: flex-end;
    margin-top: 0;
}





/* penyederhanaan rasio */
.rasio-container {
    width: 18rem;
    height: 16rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border: 5px solid white;
    filter: drop-shadow(5px 5px 3px rgba(255, 251, 21, 0.466));
}
.rasio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: poppins;
}
.rasio-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.pembanding {
    width: 5rem;
    text-align: center;
    translate: 0 2.5rem;
    font-size: 2rem;
}
.rasio-conten {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#inputkiri {
    font-size: 1.5rem;
    height: 50;
    width: 250;
    background-color: transparent;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 2;
    text-align: center;
}
#inputkanan {
    font-size: 1.5rem;
    height: 50;
    width: 250;
    background-color: transparent;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 2;
    text-align: center;
}
#hasil-rasio {
    font-size: 2.5rem;
    font-family: poppins;
    background: linear-gradient(to bottom, rgb(255, 208, 0), rgb(243, 158, 0));
    color: rgb(0, 0, 0);
    font-weight: 800;
    z-index: 999;
}
.rasio-output {
    text-align: center;
}




/* Penyederhanaan Pecahan */
.pecahan-container {
    width: 18rem;
    height: 16rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border: 5px solid white;
    filter: drop-shadow(5px 5px 3px rgba(255, 251, 21, 0.466));
}
.pembanding-pecahan {
    width: 7rem;
    height: 0.5rem;
    background-color: rgb(255, 255, 255);
}
.pecahan-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}
#inputatas {
    font-size: 1.5rem;
    height: 50;
    width: 150;
    background-color: transparent;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 2;
    text-align: center;
}
#inputbawah {
    font-size: 1.5rem;
    height: 50;
    width: 150;
    background-color: transparent;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 2;
    text-align: center;
}
.pecahan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    row-gap: 1rem;
}
.opsi-campuran {
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 9rem;
    margin-bottom: 2rem;
    margin-top: -2rem;
    cursor: pointer;
}
.campuran {
    display: flex;
    flex-direction: row;
}
#campuran-opsi-click {
    color: white;
    background-color: transparent;
    border-radius: 1rem;
    width: 10rem;
    text-align: center;
}

#biasa-opsi-click {
    color: yellow;
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 1rem;
    width: 5rem;
    text-align: center;
}

.pecahan-campuran {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    translate: -3rem;
}
#inputcampuran {
    font-size: 3rem;
    height: 100;
    width: 80;
    background-color: transparent;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 2;
    text-align: center;
    visibility: hidden;
}
#hasil-pecahan-biasa {
    font-size: 2.5rem;
    font-family: poppins;
    background: linear-gradient(to bottom, rgb(255, 208, 0), rgb(243, 158, 0));
    color: rgb(0, 0, 0);
    font-weight: 800;
    z-index: 999;
}
#hasil-pecahan-campuran {
    font-size: 2.5rem;
    font-family: poppins;
    background: linear-gradient(to bottom, rgb(255, 217, 1), rgb(243, 158, 0));
    color: rgb(0, 0, 0);
    font-weight: 800;
    z-index: 999;
    display: none;
}
#output-pecahan3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#pecahan-hasil {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
}
.pecahan-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.outputbiasa {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.outputcampuran {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.fraction-table {
    display: flex;
    text-align: center;
    border-collapse: collapse;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;    
}
.fraction-table td {
    padding: 0;
}
#divider {
    width: 3rem;
    background-color: white;
    height: 0.5rem;
    display: none;
}
#divider1 {
    width: 3rem;
    background-color: white;
    height: 0.5rem;
    display: none;
}
#pecahan-hasil-campuran {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
}
.fraction-table-campuran {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    font-size: 2rem;
    gap: 2rem;  
}
.fraction-table-campuran td {
    padding: 0;
}






















/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        font-size: 100%;
    }
    #output {
        font-size: 1.4rem;
    }
    .judul {
        font-size: 4rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}